*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-logo{
    display: flex;
}
.header-logo h3{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2.2rem;
}
.text-primary{
    color: tomato;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* banner area start here  */
.banner{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-size: contain;
}
.banner-text{
    text-align: center;
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}
.banner-title{
    font-size: 2.8rem;
}
.banner-input{
    position: absolute;
    display: flex;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(250, 235, 215, 0.356);
    padding: 20px;
    border-radius: 10px;
}
.btn-primary{
    font-size: 20px;
    color: white;
    background-color: rgb(255, 42, 5);
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
}

/* popular tours area start  */
.popular-tours-container{
    display: flex;
    margin: 80px;
}
.popular-tours-description{
    padding-right: 50px;

}
.popular-tours-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.popular-tours-text{
    line-height: 2.6;
}

/* your destination area start here  */
.destination-container{
    margin: 80px;
}
.destination-description{
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
}
.destination-title{
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    line-height: 2.6;
}
.destination-image-row{
    display: flex;
    gap: 10px;
}
.img-row2{
    display:flex;
}
.row2-image-1{
    width: 30%;
}
.row2-image-2{
    width: 45%;
}
.row2-image-3{
    width: 25%;
}

/* choose us area style start here  */
.choose-us-description{
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
}
.choose-us-title{
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    line-height: 2.6;
}

/* chosse us area style start  */

.service-contaier{
    display: flex;
    margin: 80px;
    justify-content: space-evenly;
}
.hotels-service{
    height: 250px;
    width: 500px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 40px;
    line-height: 1.5;
}
.world-class-service{
    height: 250px;
    width: 500px;
    background-color: aquamarine;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 40px;
    line-height: 1.5;
}
.price-guranty-service{
    margin-left: 400px;
    height: 250px;
    width: 500px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 40px;
    line-height: 1.5;
    justify-content: center;
}

/* Newsletter area style start  */
.newletter-container{
    margin: 80px;
    display: flex;
    justify-content: space-evenly;
}
.newsletter-description{
    height: 250px;
    width: 500px;
    padding: 30px;
    border: 1px solid tomato;
    border-radius: 20px;
}
.newsletter-description hr{
    margin: 25px 0 25px 0;
}
.newsletter-description input{
    padding: 10px 50px 10px 10px;
    border: none;
    background-color: #dfcdcd;
    border-radius: 5px;
}
.btn-subscribe{
    font-size: 20px;
    color: white;
    background-color: rgb(255, 42, 5);
    border: none;
    border-radius: 10px;
    padding: 15px 70px;
    margin-top: 10px;
}

.save{
    border: 1px solid tomato;
    height: 50px;
    width: 250px;
    color: white;
    background-color: tomato;
    border-radius: 15px;
    justify-content: center;
    margin-top: -100px;
    padding: 20px 10px 10px 10px;

}

/* Footer section style start  */
.footer-container{
    height: 200px;
    padding: 100px 0 100px 0;
    background-color: bisque;
    text-align: center;
    line-height: 2.5;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo h3{
    margin-left: 20px;
    font-size: 1.5rem;
}
.footer-container hr{
    margin: 0 120px 0 120px;
}

/* @media screen and (max-width: 576px) {
    .popular-tours-container{
        ;
    }
    
} */
